<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Pet911</h5>
                <p>반려동물 응급 상황 및 케어 정보를 위한 최고의 선택</p>
            </div>
            <div class="col-md-4">
                <h5>링크</h5>
                <ul class="list-unstyled">
                    <li><a href="/about">회사 소개</a></li>
                    <li><a href="/terms">이용약관</a></li>
                    <li><a href="/privacy">개인정보처리방침</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>팔로우</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Pet911. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
